* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: var(--BG-Overlay-color);
    font-family: var(--font);
}

button {
    border-radius: 10px;
    padding: 16px 32px;
}

:root {
    --font: 'Gilroy', sans-serif;
    --grey: #000000;
    --Primary-color: #00A000;
    --black: rgb(0, 0, 1);
    --grey-light: #999999;
    --white: #ffffff;
    --BG-Overlay-color:#FAFAFA;
    --black-w-opacity: rgba(0,0,1,0.6);
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy.ttf') format('ttf');         
}

