* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.ttf') ;         
}

:root {
    --font: 'Gilroy';
    --grey: #000000;
    --Primary-color: #00A000;
    --black: rgb(0, 0, 1);
    --grey-light: #999999;
    --white: #ffffff;
    --BG-Overlay-color:#FAFAFA;
    --black-w-opacity: rgba(0,0,1,0.6);
}

body {
    font-family: 'Gilroy';
    width: 1440px;
    margin: 0 auto;
}

button {
    border-radius: 10px;
    padding: 16px 32px;
    cursor: pointer;
}

