@import url(./global.css);

/*--------------------------------- HEADER --------------------------------------*/

header {
    height: 131px;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    gap: 258.27px;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 358px;
    height: 19px;
    gap: 40px;
}

header nav ul a {
    text-decoration: none;
    color: var(--black-w-opacity);
}

header nav ul li:first-of-type a{
    color: var(--Primary-color);
}

.button-wrapper-header {
    width: 224.46px;
    height: 51px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.button-header-icons {
    width: 95.46px;
    height: 40px;
    display: flex;
    gap: 16px;
}

.button-header-icons button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.button-header-login {
    background-color: transparent;
    border: 1px solid var(--Primary-color);
    color: var(--Primary-color);
    cursor: pointer;
}

/*------------------------------- MAIN -------------------------------------------------*/

main{
    display: flex;
    margin: 100px 0px 100px 100px;
    align-items: center;
    gap: 132px;
}

.container-main-text {
    height: 391px;
    width: 563px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--black);
}

h1 span {
    color: var(--Primary-color);
}

.container-main-text p {
    font-size: 18px;
    color: var(--black-w-opacity);
    line-height: 160%;
}

.main-button-wrapper {
    width: 356px;
    height: 51px;
    display: flex;
    gap: 24px;
    margin: 0px;
}

.main-button-wrapper button {
    color: var(--Primary-color);
    background-color: transparent;
    border: 1px solid var(--Primary-color);
    cursor: pointer;
}

.main-button-wrapper button:first-of-type {
    background-color: var(--Primary-color);
    color: var(--white);
    margin: 0px;
    cursor: pointer;
}

/* ------------------------------ CHOOSE ------------------------------------------------- */

.choose {
    background-color: var(--BG-Overlay-color);
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.choose-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.choose-title h2 {
    color: var(--black);
    font-size: 48px;
}

.choose-title p {
    color: var(--grey-light);
    font-size: 18px;
}

.choose-cards {
    display: flex;
    gap: 20px;
    width: 1240px;
    height: 356px;
    text-align: center;
}

.choose-card-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-card-content img {
    margin-bottom: 40px;
}

.choose-card-content h3 {
    margin-bottom: 8px;
    font-size: 28px;
    color: var(--black);
}

.choose-card-content p, .choose-cards-numbers-content p {
    font-size: 18px;
    color: var(--black-w-opacity);
}

.choose-cards-numbers {
    width: 1240px;
    height: 87px;
    display: flex;
    gap: 20px;
}

.choose-cards-numbers-content {
    width: 400px;
    text-align: center;
}

.choose-cards-numbers-content h3 {
    margin-bottom: 8px;
    font-size: 48px;
    color: var(--black);
}

/* ------------------------------ SPECIAL ----------------------------------------------- */

.special{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.special h2 {
    color: var(--black);
    font-size: 48px;
    text-align: center;
}

.special-cards {
    display: flex;
    width: 1240px;
    height: 483.65px;
    gap: 20px;
}

.special-card-content {
    padding: 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    align-items: center;
}

.special-card-content img:nth-of-type(1) {
    width: 195px;
    height: 242px;
}

.special-card-content h3 {
    font-size: 28px;
    color: var(--black);
}

.special-card-content p {
    width: 279px;
    height: 58px;
    font-size: 18px;
    color: var(--black-w-opacity);
    line-height: 160%;
} 

.special-card-content button {
    width: 352px;
    height: 53px;
    background-color: var(--Primary-color);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

/* Clients */

.clients {
    background-color: var(--BG-Overlay-color);
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.clients-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.clients-title h2 {
    font-size: 48px;
    color: var(--black);
}

.clients-title p {
    font-size: 18px;
    color: var(--black-w-opacity);
}

.clients-comments {
    display: flex;
    gap: 20px;  
}

.clients-comments img {
    width: 100px;
    height: 100px;
}

.clients-comments-content {
    border-radius: 16px;
    background-color: var(--white);
    width: 400px;
    height: 300px;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-comments-content h3 {
    color: var(--black);
    font-size: 28px;
    margin-top: 24px;
    
}

.clients-comments-content p {
    width: 319px;
    height: 105px;
    margin-top: 16px;
    font-size: 18px;
    color: var(--black-w-opacity);
}


/* ABOUT */

.about {
    margin-top: 60px;
    padding: 100px;
    display: flex;
    gap: 82px;
}

.about-content {
    width: 558px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-content h2 {
    color: var(--black);
    font-size: 40px;
}

.about-content p {
    font-size: 18px;
    color: var(--black-w-opacity);
    line-height: 160%;
}

.about-content button {
    background-color: var(--Primary-color);
    width: 157px;
    height: 53px;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

/* newsteller */

.newsteller {
    margin-top: 60px;
    background-color: var(--BG-Overlay-color);
    padding: 100px 326px;
}

.newsteller-content {
    width: 710px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsteller-content h2 {
    color: var(--black);
    font-size: 48px;
    margin-bottom: 8px;
}

.newsteller-content p {
    color: var(--black-w-opacity);
    font-size: 18px;
    margin-bottom: 60px;
}

input {
    padding: 8px 8px 8px 24px;
    width: 710px;
    height: 77px;
    background-color: var(--white);
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    font-size: 18px;
    color: var(--black);
}

input::placeholder {
    color: var(--black);
}

.newsteller-content button {
    width: 174px;
    height: 61px;
    background-color: var(--Primary-color);
    color: var(--white);
    position: relative;
    translate: 320% -130%;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}


/* ------------------------------ FOOTER ------------------------------------------------ */

footer {
    background-color: var(--Primary-color);
    margin-top: 60px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer-container {
    width: 1240px;
    height: 178px;
    display: flex;
    gap: 24px;
}

.footer-content-socials{
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.socials-icons {
    display: flex;
    gap: 17.87px;
}

.socials-icons a {
    border: 2px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.28px;
    height: 20.28px;
}

.footer-content-nav{
    display: flex;
    gap: 40px;
}

.footer-content-column {
    width: 281px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-content-column h2 {
    color: var(--white);
    font-size: 18px;
    font-weight: 800;
} 

.footer-content-column ul a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.rights {
    width: 1240px;
    border-top: 1px solid var(--white);
    padding-top: 16px;
    color: var(--white);
    display: flex;
    justify-content: center;
}

.rights p {
    font-size: 20px;
    padding: 8px 8px 8px 24px;
}

